# Project
locals {
  project = "parity_private_1"
}

# Network
module "network" {
  source  = "../network"
  project = local.project
}

# IAM role
resource "aws_iam_role" "relay" {
  provider    = aws.us-east-2
  name = "${local.project}_relay"

  assume_role_policy = <<EOF
{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "Service": "ec2.amazonaws.com"
      },
      "Action": "sts:AssumeRole"
    }
  ]
}
EOF
}

# IAM profile
resource "aws_iam_instance_profile" "relay" {
  provider    = aws.us-east-2
  name = "${local.project}_relay"
  role = "${aws_iam_role.relay.name}"
}

{% for region in regions -%}
################ {{region}} begin ################

# Provider
provider "aws" {
  alias  = "{{region}}"
  region = "{{region}}"
}

# SSH
resource "aws_security_group" "ssh_{{region}}" {
  provider    = aws.{{region}}
  name_prefix = "ssh-"
  description = "SSH access"
  vpc_id      = module.network.{{region}}.vpc.id

  ingress {
    cidr_blocks = ["0.0.0.0/0"]
    from_port   = 22
    to_port     = 22
    protocol    = "tcp"
  }

  tags = {
    project = local.project
  }
}

# Egress
resource "aws_security_group" "egress_{{region}}" {
  provider    = aws.{{region}}
  name_prefix = "egress-"
  description = "Egress traffic"
  vpc_id      = module.network.{{region}}.vpc.id

  egress {
    cidr_blocks = ["0.0.0.0/0"]
    from_port   = 0
    to_port     = 0
    protocol    = "-1"
  }

  tags = {
    project = local.project
  }
}

# Relay
module "relay_{{region}}" {
  source             = "../relay-alpha-1"
  project            = local.project
  subnet_id          = module.network.{{region}}.subnet.id
  key_name           = "ltcdemo"
  security_group_ids = [
    aws_security_group.ssh_{{region}}.id,
    aws_security_group.egress_{{region}}.id
  ]
  iam_instance_profile = aws_iam_instance_profile.relay.name

  providers = {
    aws = aws.{{region}}
  }
}

################ {{region}} end ################


{% endfor -%}
