# Project
locals {
  project = "parity_private_1"
}

# Network
module "network" {
  source  = "../network"
  project = local.project
}

{% for region in regions -%}
################ {{region}} begin ################

# Provider
provider "aws" {
  alias  = "{{region}}"
  region = "{{region}}"
}

# Relay
module "relay_{{region}}" {
  source             = "../relay-alpha-1"
  project            = local.project
  subnet_id          = module.network.{{region}}.subnet.id
  key_name           = "ltcdemo"
  security_group_ids = []

  providers = {
    aws = aws.{{region}}
  }
}

################ {{region}} end ################


{% endfor -%}
