filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/supervisor/beacon-stdout-*
    - /var/log/supervisor/supervisord.log

output.logstash:
  hosts: ["{{monitoring_ip}}:5051"]

setup.kibana:
  host: "{{monitoring_ip}}:5601"

xpack.security.enabled: false
xpack.monitoring.enabled: false
