filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/supervisor/relay-stdout-*
    - /var/log/supervisor/supervisord.log

output.logstash:
  hosts: ["192.168.14.8:5041"]

setup.kibana:
  host: "192.168.14.8:5601"

xpack.security.enabled: false
xpack.monitoring.enabled: false
