# Inputs
variable "project" {
  type        = "string"
  description = "Project name"
}

{% for region in regions -%}
################ {{region}} begin ################

# Provider
provider "aws" {
  alias  = "{{region}}"
  region = "{{region}}"
}

# {{region}} network
module "{{region}}" {
  source    = "./modules/regional_network"
  project   = "${var.project}"
  vpc_block = "10.{{loop.index-1}}.0.0/16"

  providers = {
    aws = "aws.{{region}}"
  }
}

{% set outer_idx = loop.index -%}
{% for peer in regions[loop.index:] -%}
# Peering with {{peer}}
module "{{region}}-{{peer}}" {
  source = "./modules/peering_connection"
  project = "${var.project}"
  src_vpc_id = module.{{region}}.vpc.id
  dst_vpc_id = module.{{peer}}.vpc.id
  src_route_table_id = module.{{region}}.route_table.id
  dst_route_table_id = module.{{peer}}.route_table.id
  src_cidr = "10.{{outer_idx-1}}.0.0/16"
  dst_cidr = "10.{{outer_idx+loop.index-1}}.0.0/16"

  providers = {
    aws.src = "aws.{{region}}"
    aws.dst = "aws.{{peer}}"
  }
}

{% endfor -%}
################ {{region}} end ################


{% endfor -%}
