[program:relay]
user=ubuntu
directory=/home/ubuntu
command=/home/ubuntu/relay "{{beacon_private_ip}}:9002" "{{beacon_private_ip}}:9003,{{beacon_public_ip}}:8003" "{{relay_datadir}}"
priority=100
autostart=true
autorestart=true
